<form [formGroup]="formControlGroup">
    <div  class="row">
        <div class="col-md-8">            
            <span class="product-desc">{{ this.product.name}}</span><br/>
            {{ this.product.price | currency }}
        </div>
        <div class="col-md-4 ml-auto" class="product-order">
            Quantity&nbsp;<input type="text" formControlName="quantity" (keypress)="onQuantityChange($event)" (change)="onQuantityChange($event)" style="margin-right:5px;width:50px;"/>
            <button (click)="addToCart(product)">Add to Cart</button>   
        </div>
    </div>
    <div class="row alert alert-dark" *ngIf="(!this.formControlGroup.controls.quantity.valid && this.formControlGroup.controls.quantity.dirty && this.submitted)">
        <div class="col-md-12 mr-auto error-message">Quantity must be number greater than 0.</div>   
    </div>
    <div class="row alert alert-success" *ngIf="(this.addedToCart)">
        <div class="col-md-12 mr-auto success-message">Added item to cart.</div>   
    </div>
</form>