::ng-deep app-product-list {
    width:100%;
}

.product-desc {
    font-size: 1.125em;
    font-weight:bold;
}

.card-separator {
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}

.product-order {
    padding-top:3px;
}

.error-message {
    font-weight:bold;
    color:red;
    text-align:right;
}

.success-message {
    font-weight:bold;
    color:green;
    text-align:right;
}

.alert {
    position: relative;
    padding: 0 !important;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success, .alert-dark {
    background-color: #fff;
    border-color: #c3e6cb;
    border:none;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/