<h2>Cart Summary</h2>

<div class="container-fluid">
  <ng-container *ngIf="(this.cart.cartItems && this.cart.cartItems.length > 0)" >
    <div class="row">
      <div class="col-md-12 ml-auto">
        <button routerLink="/" class="clear-cart-btn" style="margin-left:5px;">Return to Products</button> 
        <button (click)="clearCart()" class="clear-cart-btn">Empty Cart</button>         
      </div>
    </div>
    <div *ngFor="let item of this.cart.cartItems  let index = index" class="row card-separator">
        <div class="col-md-8">            
            <span class="product-desc">{{ item.product.name}}</span><br/>
            Quantity: {{ item.quantity }}
        </div>
        <div class="col-md-4 ml-auto">
          {{ item.product.price | currency }}             
        </div>
    </div>
    <div class="row card-separator">
      <div class="col-md-8 totals">
        Sales Tax:
      </div>
      <div class="col-md-4 ml-auto">
        {{ this.cart.salesTax | currency }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 totals">  
        Total: 
      </div>
      <div class="col-md-4 ml-auto">
        {{ this.cart.cartTotal | currency }}
      </div>  
    </div>
  </ng-container>
  <ng-container *ngIf="!this.cart.cartItems || (this.cart.cartItems && this.cart.cartItems.length == 0)">
    <div class="row">
      <div class="col-md-12 ml-auto">
        <button routerLink="/" class="clear-cart-btn">Return to Products</button>         
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        No items in cart.
      </div>      
    </div>
  </ng-container>
</div>
