
::ng-deep app-cart {
    width:100%;
}

.product-desc {
    font-size: 1.125em;
    font-weight:bold;
}

.card-separator {
    border-top:1px solid gray;
}

.totals {
    text-align:right;
}

.clear-cart-btn {
    float:right;
    margin: 0 0 5px 0;
}