<h2>Products</h2>

<div class="container-fluid">
    <div *ngFor="let product of products; let index = index" [ngClass]="{'card-separator': 0 === index % 2}">
        <app-product-item [product]="product">
        </app-product-item>
    </div>
</div>