::ng-deep app-product-list {
    width:100%;
}

.product-desc {
    font-size: 1.125em;
    font-weight:bold;
}

.card-separator {
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}

.product-order {
    padding-top:3px;
}