<a [routerLink]="['/']">
  <h1>Demo Store</h1>
</a>

<a routerLink="/cart" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout<span *ngIf="totalCartItems > 0">&nbsp;({{ totalCartItems }})</span></a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->